<% if @waiter %>

    <% unless @worksets.blank? %>

        <div class="page-header">
          <h1>Your tables:</h1>
        </div>

        <div class="body_panel panel-default">
          <div class="table-responsive">
            <table class="table table-bordered">
              <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Alarm status</th>
                <th class="text-center">Delivery status</th>
                <th class="text-center">Payment status</th>
                <th class="text-center">Clear table</th>
                <th class="text-center">Your cut</th>
              </tr>

              <% @worksets.each do |workset| %>
                  <tr>
                    <%= order_table_content_group(workset.table, @worksets_count, @worksets_sum) %>
                  </tr>
              <% end %>
            </table>
          </div>
        </div>

    <% else %>
        <div class="page-header">
          <h1>Oops, looks like you have no table assigned yet. Ask administrator for details</h1>
        </div>

    <% end %>

<% else %>
    <div class="page-header">
      <h1>Select yourself from dropdown up above, please</h1>
    </div>

<% end %>

