<div class="body_panel panel-default">
  <div class="panel-heading">
    <div class="input-group">
      <%= f.text_field(:name, class: "form-control", :placeholder => "Enter table name") %>
      <span class="input-group-btn">
        <%= f.submit "Save", :class => 'btn btn-default' %>
      </span>
    </div>
  </div>
</div>